/*---------------------
      Palette
---------------------*/
$primaryColor: #7abc64;
$topHeaderColor: #353637;
$primaryColorText: #7f9ea8;

$btnOneColor: #7abc64;
$btnOneHoverColor: #69aa53;

$btnTwoColor: #7f9ea8;
$btnTwoHoverColor: #7abc64;

/*---------------------
      Font
---------------------*/
$fontSizeTitle: 40px;
$fontSizeSubTitle: 22px;
$fontSizeText: 16px;