/*---------------------
      Palette
---------------------*/
$primaryColor: #85b680;
$topHeaderColor: #353637;
$primaryColorText: #7f9ea8;

$btnOneColor: #85b680;
$btnOneHoverColor: #79b27b;

$btnTwoColor: #484848;
$btnTwoHoverColor: #85b680;

/*---------------------
      Font
---------------------*/
$fontSizeTitle: 40px;
$fontSizeSubTitle: 22px;
$fontSizeText: 16px;